<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.softanalle.scma"
    android:versionCode="18"
    android:versionName="1.0.18" android:installLocation="internalOnly">

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="16" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
 
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    

    
 
    <application
        android:allowBackup="true"
        android:allowClearUserData="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" 
        android:hardwareAccelerated="true" android:largeHeap="true">
        <uses-library android:name="com.android.future.usb.accessory" android:required="false" />
        <activity
            android:name="com.softanalle.scma.MainActivity"
	    	android:configChanges="orientation|keyboardHidden"
	    	android:launchMode="singleTask"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED" />
            </intent-filter>
            <meta-data android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED"
		       android:resource="@xml/accessory_filter" />
        </activity>
        <activity android:name="com.softanalle.scma.AppPreferenceActivity"></activity>
        <activity android:name="com.softanalle.scma.SplashActivity"></activity>
        <activity android:name="com.softanalle.scma.ImageActivity"></activity>
    	<receiver android:enabled="true" 
    	    android:name=".BootUpReceiver"
        	android:permission="android.permission.RECEIVE_BOOT_COMPLETED">

        		<intent-filter>
                	<action android:name="android.intent.action.BOOT_COMPLETED" />
                	<category android:name="android.intent.category.DEFAULT" />
                	<action android:name="android.intent.action.QUICKBOOT_POWERON" />
        </intent-filter>
		</receiver>
         

    </application>

</manifest>
